# please use this as an example, in case you cloned the project and want to run it smoothly.
#use this as a guide

# App
PORT=3000

# Auth
JWT_SECRET=change-me
JWT_EXPIRES_IN=1d

# PostgreSQL
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=code_review

# Or use a single URL
# DATABASE_URL=postgres://user:password@localhost:5432/code_review
